<article class="card">
  <div class="art-hd">
      <span class="art-name">Mumbai</span>
      <span class="art-close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
  </div>
  <div class="art-dtl">    
      <p class="art-list">
          <strong>Address: </strong> 
          <span>304, Newr Virar east Mumabie</span>
      </p>
      <p class="art-list">
          <strong>Lat: </strong> 
          <span>304423</span>
      </p>
      <p class="art-list">
          <strong>Lang: </strong> 
          <span>r3r242</span>
      </p>
  </div>
</article>